* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: env(safe-area-inset);
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 15;
}

body {
  font-family: "Mukta", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a.disabled {
  opacity: 0.5;
}

a:hover {
  color: white;
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

.bg-grey {
  background-color: rgb(235, 235, 235);
}

.language-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
  list-style: none;
  margin-bottom: 0;
  background-color: #300926;
}

.language-nav li {
  padding: 8px;
}

.language-nav li a {
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 1px 0 8px 0 grey;
}

.navbar-brand span {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: width 0.3s ease;
}

.navbar-brand img {
  width: 84px;
  height: auto;
  margin-right: 14px;
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.navbar .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  position: relative;
}

.navbar .text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
  background-color: #300926;
}

.navbar .text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
  background-color: #300926;
}

.navbar .collapse {
  flex-grow: 0;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar .nav-item {
  padding: 32px 24px;
}

.navbar-light .nav-link {
  position: relative;
  padding: 0 !important;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgba(48, 48, 48, 1) !important;
}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  left: -80px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #f8f9fa;
  color: black;
}

.navbar-light .nav-item#appoint-button {
  padding: 0;
}

.navbar-light .nav-item#appoint-button .nav-link {
  padding: 17px 24px !important;
  background-color: #300926;
  transition: background 0.3s ease;
}

.navbar-light .nav-item#appoint-button .nav-link {
  color: rgb(218, 218, 218) !important;
}

.navbar-light .nav-item#appoint-button .nav-link:hover {
  background-color: #5c134a;
}

.navbar-light .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #300926;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: width 0.3s ease;
}

.navbar-light .nav-item#appoint-button .nav-link::after {
  height: 0;
}

.navbar-light .nav-link:hover::after {
  width: 80%;
}

.navbar .nav-link:hover {
  color: rgba(48, 48, 48) !important;
}

main * {
  margin-bottom: 20px;
}

main h1,
main h3 {
  text-align: center;
  margin-bottom: 40px;
}

main p {
  font-size: 18px;
}

main ul,
main ol {
  margin-left: 60px;
}

main ul li,
main ol li {
  font-size: 18px;
}

footer {
  color: white;
  padding: 80px 0;
  background-color: #300926;
}

footer .logo-section {
  display: flex;
  flex-direction: column;
}

footer .logo {
  display: flex;
  align-items: center;
}

footer .logo span {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

footer .logo img {
  width: 100px;
  height: auto;
  margin-right: 12px;
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(167deg)
    brightness(115%) contrast(100%);
  transition: transform 0.3s ease;
}

footer .logo:hover img {
  transform: scale(1.1);
}

footer .logo-section .text {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-left: 7px;
  font-size: 16px;
}

footer .logo-section .text span {
  margin-top: 5px;
}

footer h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

footer a {
  margin-bottom: 10px;
}

footer .footer-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

footer .footer-info a {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

footer .footer-info a svg,
footer .footer-info a img {
  margin-right: 7px;
  filter: invert(8%) sepia(37%) saturate(7145%) hue-rotate(301deg)
    brightness(96%) contrast(92%);
}

footer .footer-info a .phone-icon {
  height: 22px;
}

footer .footer-info a .mail-icon {
  height: 18px;
}

footer .footer-info a .facebook-icon {
  height: 26px;
}

footer .footer-info a .inst-icon {
  height: 26px;
}

footer .footer-info a .info-icon {
  height: 26px;
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 20px 30px;
  }
  .navbar .text {
    display: none;
  }

  .navbar ul {
    align-items: start;
  }

  .navbar .nav-item {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
  }

  .navbar-light .nav-link:hover::after {
    width: 0;
  }

  footer .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .footer-info a {
    justify-content: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1390px) {
  .navbar-brand span {
    font-size: 16px;
  }

  .navbar .text {
    font-size: 14px;
  }

  .dropdown-menu {
    left: -180px;
  }

  .navbar .nav-item {
    text-align: center;
  }

  .navbar-light .nav-link {
    font-size: 14px;
  }

  .navbar-light .nav-item#appoint-button .nav-link {
    padding: 17px 4px;
  }

  footer .logo span {
    font-size: 26px;
  }

  footer h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    width: 59px;
  }

  .navbar-brand span {
    font-size: 14px;
  }

  .navbar-light .nav-link {
    font-size: 13px;
  }

  .navbar-light .dropdown-item {
    font-size: 8px;
  }

  .navbar-light .nav-item#appoint-button .nav-link {
    padding: 10px !important;
  }

  footer .logo img {
    width: 80px;
  }

  footer .logo span,
  footer h2 {
    font-size: 22px;
  }
}
